@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: var(--dark-02, #424242);
    text-align: center;

    font-size: 18px;

    font-weight: 500;

}

nav li a {
    text-decoration: none;
}

.nav-tittle {
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

/* banner section */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {

    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0px;
    cursor: pointer;

}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main styles */
main {

    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-left: 160px;

}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content-tittle {
    font-size: 2.8rem;
}

.teams-content-tittle .quick-list {
    color: var(--dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
}

.teams-content-tittle .of-our {
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.teams-content-tittle .feature {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-content-description {
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;

}











/* responsive styles */
/* mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
    .teams-container
{
    flex-direction: column;
}

.teams-img-container
{
    grid-template-columns: 1fr;
    margin-left: 20px;
}
.teams-content {
    padding-left: 40px;
    padding-right:  40px;
}
}







/* Tab device or medium devices */
@media screen and (min-width : 576px) and (max-width : 960px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
    .teams-container
    {
        flex-direction: column;
    }
    .teams-img-container
    {
        margin-left: 30px;
    }
    
    

}

